<h1>Lost and Found</h1>
<h2>Lost Items</h2>
<table>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
    {% for lost in all_lost %}
        <tr>
            <td>{{lost.date}}</td>
            <td>{{lost.title}}</td>
        </tr>
    {% endfor %}

</table>

<h2>Phones lost</h2>
<table>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
    {% for lost in lost_phone %}
        <tr>
            <td>{{lost.date}}</td>
            <td>{{lost.title}}</td>
        </tr>
    {% endfor %}

</table>
<h2>Lost today</h2>
<table>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
    {% for lost in lost_today %}
        <tr>
            <td>{{lost.date}}</td>
            <td>{{lost.title}}</td>
        </tr>
    {% endfor %}

</table>